.banner {
  // position: relative;
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 100px;
  border-radius: 30px;

  background-image: url('http://localhost:3000/static/media/banner.c254ed51e0c0bcfe17e17fe9ec338335.svg');
  background-size: cover;
  h1 {
    font-size: 24px;
    color: #304c10;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    color: #56960d;
    font-weight: bold;
  }

  /* 검색바 스타일 */
  .search-bar {
    font-size: 10px;
  }

  .search-bar input {
    padding: 8px 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid #77a642;
  }

  .search-bar button {
    padding: 6px 10px;
    background-color: #77a642; /* 버튼 색상을 조정합니다. */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
