.banner {
  // position: relative;

  .banner__image {
    // position: absolute;
    text-align: center; /* 가운데 정렬을 위해 */
  }

  .banner__image img {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
  }

  .banner__text {
    position: absolute;
    top: 50%; /* 부모 요소의 세로 중앙으로 이동 */
    left: 50%; /* 부모 요소의 가로 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 가운데 정렬을 위한 트랜스폼 */
    text-align: center; /* 가운데 정렬을 위해 */
  }

  .banner__text h1 {
    font-size: 24px;
    color: #304c10;
    font-weight: bold;
  }

  .banner__text p {
    font-size: 16px;
    color: #56960d;
    font-weight: bold;
  }

  /* 검색바 스타일 */
  .search-bar {
    position: absolute;
    top: calc(50% + 50px); /* 텍스트 아래로 위치 조정 */
    left: 50%; /* 부모 요소의 가로 중앙으로 이동 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 트랜스폼 */
    text-align: center; /* 가운데 정렬을 위해 */
    font-size: 10px;
  }

  .search-bar input {
    padding: 8px 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid #77a642;
  }

  .search-bar button {
    padding: 6px 10px;
    background-color: #77a642; /* 버튼 색상을 조정합니다. */
    color: white;
    border: none;
    border-radius: 5px;
    // cursor: pointer;
  }
}
