@import '../root.scss';

// banner scss
.modified-banner {
  position: relative;
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 30px;

  img {
    margin-top: 50px;
    position: absolute;
    z-index: 0;
    border-radius: 30px;
  }

  h1 {
    font-size: 24px;
    color: #304c10;
    font-weight: bold;
    z-index: 1;
  }

  p {
    font-size: 16px;
    color: #56960d;
    font-weight: bold;
    z-index: 1;
  }

  /* 검색바 스타일 */
  .search-bar {
    font-size: 10px;
    z-index: 1;
  }

  .search-bar input {
    padding: 8px 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid #56960d; /* 수정: 변수가 아닌 직접 색상 코드 사용 */
  }

  .search-bar button {
    padding: 6px 10px;
    background-color: #56960d; /* 수정: 변수가 아닌 직접 색상 코드 사용 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

//Gallery.scss
// 변수 정의
$gallery-background-color: rgba(0, 0, 0, 0.5);
$gallery-text-color: #fff;
$gallery-padding: 10px;
$gallery-gap: 20px;
$photo-transition-time: 0.3s;
$photo-hover-scale: 1.05;
$photo-description-background: rgba(0, 0, 0, 0.5);
$photo-description-font-size: 14px;
$button-background-color: $romain-green; // 로메인 그린
$button-text-color: $chiliflower-white; // 고추꽃 화이트
$button-hover-background-color: $potato-beige; // 감자 베이지

// 믹스인 정의
@mixin gallery-text {
  background-color: $gallery-background-color;
  color: $gallery-text-color;
  padding: $gallery-padding;
  margin: 0;
  font-size: $photo-description-font-size;
}

.Gallery {
  text-align: center;
  margin-bottom: 70px;

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: $gallery-gap;
    margin-top: $gallery-gap;

    .photo {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: transform $photo-transition-time ease;

        &:hover {
          transform: scale($photo-hover-scale);
        }
      }

      p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include gallery-text;
      }
    }
  }

  //mainList.scss
  .photo {
    position: relative;
    opacity: 1;
    transition: transform 0.5s ease-in-out;

    &.slide-out {
      transform: translateX(-100%);
    }

    &.slide-in {
      transform: translateX(0);
    }
  }
}

//picture.scss

.BrandstoryMain {
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column; /* 요소들을 수직으로 배치합니다. */
  align-items: center; /* 가로 방향 가운데 정렬 */
  background-image: url('../../assets/main/mainListfarm\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Brandstory h2 {
  text-align: center;
  padding: 50px;
  color: $romain-green;
  font-size: 2.7rem;
}

.Brandstory-container {
  display: flex;
  flex-direction: column; /* 요소들을 수직으로 배치합니다. */
  align-items: center; /* 가로 방향 가운데 정렬 */
  margin-bottom: 30px;
}

.Brandstory-container > h2 {
  font-size: 2.7rem;
  color: black;
  margin-bottom: 20px;
  // font-weight: bold;
}

.Recommendation {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.Recommendation > div {
  margin-bottom: 30px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  flex-basis: 30%;
  text-align: center;
  margin: 0 10px;
}

.description h3 {
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.description .Pcolor {
  color: black;
  font-weight: bold;
}

.description p {
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

strong {
  color: red;
}

@media screen and (max-width: 768px) {
  .BrandstoryMain {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .Brandstory-container > h2 {
    font-size: 2rem;
  }

  .description {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .mainListPage {
    padding: 20px;
  }

  .BrandstoryMain {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .Brandstory-container > h2 {
    font-size: 1.5rem;
  }

  .description {
    flex-basis: 100%;
    margin: 0;
  }
}

// picture.scss
.picture-container {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    object-fit: cover;
    width: 40%;
    max-width: 800px;
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .overlay {
    padding-top: 20px;
    top: 0;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    width: 50%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 15px;
      color: $romain-green;
    }

    .middle-text {
      font-size: 17px;
      margin-bottom: 10px;
    }

    .middle-image {
      margin: 20px 0;
      max-width: 80%;
      height: auto;
      border-radius: 15px;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .end-text {
      font-size: 16px;
      margin-top: auto;
      color: $romain-green;
      font-weight: bold;
    }

    button {
      background-color: $romain-green;
      color: white;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 20px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $potato-beige;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .picture-container {
    flex-direction: column;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 0;
    }

    .overlay {
      width: 100%;
      padding: 10px;
      border-radius: 0;

      h2 {
        font-size: 18px;
      }

      .middle-text {
        font-size: 15px;
      }

      .middle-image {
        margin: 10px 0;
      }

      .end-text {
        font-size: 13px;
      }

      button {
        padding: 8px 16px;
      }
    }
  }
}

// rotation.scss

h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: bold;
  text-align: center;
  color: $romain-green !important;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 50px;
}

.image-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.main-image {
  width: 420px;
  height: 237px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-image:hover {
  transform: scale(1.1);
}

.name {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $romain-green;
}

.farm-image {
  width: 420px; /* 원하는 크기로 조정 */
  height: 305px; /* 원하는 크기로 조정 */
}

.plant-guide-image {
  width: 420px; /* 원하는 크기로 조정 */
  height: 236px; /* 원하는 크기로 조정 */
}

.pest-guide-image {
  width: 420px; /* 원하는 크기로 조정 */
  height: 238px; /* 원하는 크기로 조정 */
}

// .Gallery {
//   display: flex;
//   justify-content: center;
// }
.photo {
  position: relative;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

// from dust.scss
// 미세먼지 위젯 스타일링
$breakpoint-large: 1200px;
$breakpoint-medium: 769px;
$breakpoint-small: 480px;

.dust-box {
  width: 25rem;
  height: 14rem;
  position: relative;
  text-align: center;
  border-radius: 20px;
  margin-top: 4rem;
  padding: 40px;

  // 미세먼지 정도에 따라 다른 배경색 지정
  &.good {
    background-color: $romain-green;
    color: $chiliflower-white;
  }

  &.normal {
    background-color: $chiliflower-white;
    border: 1px solid $potato-beige;
  }

  &.bad {
    background-color: $potato-beige;
    color: $chiliflower-white;
  }

  @media screen and (min-width: $breakpoint-large) {
    // 1200px 이상
    left: -10%; /* 부모 요소의 가로축 이동 */
    bottom: 14%;
  }

  @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    // 769px ~ 1200px
    bottom: 14%;
    width: 23rem;
  }

  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    // 480px ~ 768px
    bottom: 14%;
    width: 20rem;
    height: 13rem;
  }

  @media screen and (max-width: $breakpoint-small) {
    // 480px 이하
    margin: 10px 0;
    width: 18rem;
    height: 12rem;
    padding: 30px;
  }
}

.dust-info {
  position: relative;
  text-align: center;
  line-height: 2.5rem;
  font-size: 20px;
  font-weight: 700;
}
.dust-place {
  font-size: 16px;
  font-weight: 300;
}
.dust-grade {
  font-size: 36px;
  font-weight: 900;
}

// from weather.scss
// 날씨 위젯 스타일링
.weather-main {
  width: 25rem;
  height: 14rem;
  border-radius: 20px;
  position: relative;
  background-image: url('../../assets/weather-cloudy-70.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 30px;
  cursor: pointer;

  @media screen and (min-width: $breakpoint-large) {
    // 1200px 이상
    left: -10%; /* 부모 요소의 가로축 이동 */
    bottom: 6%;
  }

  @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    // 769px ~ 1200px
    bottom: 8%;
    width: 23rem;
  }

  @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    // 480px ~ 768px
    bottom: 8%;
    width: 20rem;
    height: 13rem;
    padding: 25px;
  }

  @media screen and (max-width: $breakpoint-small) {
    // 480px 이하
    margin: 10px 0;
    width: 18rem;
    height: 12rem;
    padding: 18px;
  }

  .weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weather-place {
    font-size: 18px;
    font-weight: 600;
  }

  .weather-icon {
    width: 60px;
    height: 60px;
  }

  .temp-now {
    font-size: 48px;
    font-weight: 900;
  }
}

// 메인에서 위젯 위치 조정
.main-full-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.main-full-weather {
  display: flex;
  flex-direction: column;
  margin: 90px;
}
