.BrandstoryMain {
  padding-top: 50px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column; /* 요소들을 수직으로 배치합니다. */
  align-items: center; /* 가로 방향 가운데 정렬 */
  background-color: #e0c098;
  border-radius: 50px;
}
.Brandstory h2 {
  text-align: center;
  padding: 50px;
  // font-weight: bold;
  color: #77a642;
  font-size: 2.7rem;
}
.Brandstory-container {
  display: flex;
  flex-direction: column; /* 요소들을 수직으로 배치합니다. */
  align-items: center; /* 가로 방향 가운데 정렬 */
  margin-bottom: 30px;
}

.Brandstory-container > h2 {
  font-size: 2.7rem;
  color: #77a642;
  margin-bottom: 20px;
  font-weight: bold;
}

.Recommendation {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.Recommendation > div {
  margin-bottom: 30px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  flex-basis: 30%;
  text-align: center;
  margin: 0 10px;
}

.description h3 {
  font-size: 2rem;
  color: #77a642;
  margin-bottom: 10px;
  font-weight: bold;
}
.description .Pcolor {
  color: #fbfaf6;
  font-weight: bold;
}
.description p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
strong {
  color: red;
}

@media screen and (max-width: 768px) {
  .BrandstoryMain {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .Brandstory-container > h2 {
    font-size: 2rem;
  }

  .description {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .mainListPage {
    padding: 20px;
  }

  .BrandstoryMain {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .Brandstory-container > h2 {
    font-size: 1.5rem;
  }

  .description {
    flex-basis: 100%;
    margin: 0;
  }
}
