// * {
//   margin: 50px;
// }
.container {
  position: relative;

  .pictureImg {
    width: 800px;
    height: 600px;
  }

  .overlay {
    position: absolute;
    top: -50px;
    right: -50px;
    background-color: #77a642;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 30px;
    color: white;
    padding: 10px;
    width: 450px;
    height: 250px;
    display: flex; /* 내부 요소들을 수평으로 배치하기 위해 flex 사용 */
    flex-direction: column; /* 내부 요소들을 수직으로 배치 */

    h2 {
      text-align: left;
      margin-top: 10px;
      font-size: 20px;
      font-style: bold;
      margin-bottom: 10px; /* h2 아래 여백 추가 */
    }

    .middle-text {
      text-align: left;
      font-size: 15px;
      margin-bottom: 10px; /* middle-text 아래 여백 추가 */
    }

    .end-text {
      text-align: right; /* 오른쪽 정렬 */
      font-size: 15px;
      margin-top: auto; /* 자동으로 아래쪽에 배치 */
    }

    button {
      background-color: white;
      color: black;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      align-self: flex-end; /* 오른쪽 정렬 */
      margin-top: 10px;
      &:hover {
        background-color: #77a642; /* 호버했을 때의 배경색 */
        color: white; /* 호버했을 때의 글자색 */
      }
    }
  }
}
