// rotation.scss
h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: bold;
  text-align: center;
  color: #77a642 !important;
}
.image-container {
  display: flex;
  flex-wrap: wrap; /* 요소가 넘칠 경우 줄바꿈 */
  justify-content: center; /* 가로 중앙 정렬 */
  margin-bottom: 70px;
  margin-top: 50px;
}

.image-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  margin: 0 20px; /* 이미지 정보 간격 조정 */
}

.main-image {
  width: 420px; /* 이미지 폭 설정 */
  height: 235px; /* 이미지 높이 설정 */
  margin-bottom: 20px;
  border-radius: 10px; /* 이미지 모서리 둥글게 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  transition: transform 0.3s ease-in-out; /* 애니메이션 효과 */
}

.main-image:hover {
  transform: scale(1.1); /* 마우스 호버 시 이미지 확대 */
}

.name {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #77a642;
}
