@import '../root.scss';

* {
  list-style: none;
}

.copy {
  cursor: pointer;
}

.copy:hover {
  text-decoration: underline;
  color: $romain-green;
}

.custom-button {
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 20px;
  background-color: $potato-beige;
  border: 1px solid black;
}

.custom-button:hover {
  background-color: $romain-green;
}
