// PlantBox.scss

.plant-box {
  margin: 0 auto; // 가운데 정렬
  max-width: 600px; // 최대 너비 설정
  padding: 20px; // 안쪽 여백 추가
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // 그림자 효과 추가
  border-radius: 8px; // 모서리 둥글게 만들기

  // 반응형 스타일
  @media screen and (max-width: 768px) {
    max-width: 90%; // 화면 크기가 작을 때 최대 너비 줄이기
  }

  // 제목 스타일
  .box-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  // 내용 스타일
  .box-content {
    .svc-code {
      font-weight: bold;
    }

    .main-chartr-info {
      margin-top: 5px;
      color: #555;
    }

    .plant-image {
      width: 100%; // 이미지 너비 조정
      max-height: 200px; // 이미지 최대 높이 설정
      object-fit: cover; // 이미지 비율 유지
      border-radius: 8px; // 이미지 모서리 둥글게 만들기
      margin-top: 10px; // 이미지 상단 여백 추가
    }
  }
}
