.plant-main-container {
  .plant-title {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
  }

  .titleLine {
    height: 1px;
    background-color: #77a642;
    margin-bottom: 20px;
  }

  .searchWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .searchContainer {
    width: 100%;
    border: 2px solid #77a642;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchBox input {
    margin-right: 10px;
    border-radius: 5px;
    margin-left: 10px;
    border: 2px solid #77a642;
  }

  .searchBox button {
    border-radius: 5px;
    border: 2px solid #77a642;
    background-color: #d9b487;
  }

  .searchContainer div {
    margin-left: 10px;
  }
}
