// InfoComponent.scss

.main-container {
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 여기를 수정합니다. */
}
.InfoComponent {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.main-main {
  align-items: center;
  border: 1px solid #77a642;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  flex: 1; /* 추가: main-main이 가능한 공간을 모두 차지하도록 설정합니다. */
}
button {
  border: 1px solid #77a642;
  background-color: white;
  border-radius: 20px;
}
.info-container {
  background-color: whitesmoke;
  padding: 30px;
  display: flex;
  border: 1px solid #77a642;
  margin-top: 20px;
}
.info-name {
  margin-left: 40px;
}
.info-name p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.info-detail-title {
  margin-top: 20px;
}
.info-deatil-main {
  margin-top: 20px;
}
