// 미세먼지 위젯 스타일링
@import '../root.scss';
$breakpoint-large: 1200px;
$breakpoint-medium: 1099px;
$breakpoint-small: 999px;

.dust-box {
  width: 25rem;
  height: 14rem;
  // position: relative;
  text-align: center;
  border-radius: 20px;
  margin-top: 4rem;
  padding: 40px;

  // 미세먼지 정도에 따라 다른 배경색 지정
  &.good {
    background-color: $romain-green;
    color: $chiliflower-white;
  }

  &.normal {
    background-color: $chiliflower-white;
    border: 1px solid $potato-beige;
  }

  &.bad {
    background-color: $potato-beige;
    color: $chiliflower-white;
  }

  //   @media screen and (min-width: $breakpoint-large) {
  //     // 1200px 이상
  //     left: 80%; /* 부모 요소의 가로축 이동 */
  //     transform: translate(-80%, -235%); /* 위치 고정 */
  //   }

  //   @media screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  //     // 1099px ~ 1200px
  //     left: 55%; /* 부모 요소의 가로축 이동 */
  //     transform: translate(-5%, -230%); /* 위치 고정 */
  //     height: 13rem;
  //   }

  //   @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
  //     // 999px ~ 1099px
  //     left: 55%; /* 부모 요소의 가로축 이동 */
  //     transform: translate(-5%, -225%); /* 위치 고정 */
  //     height: 13rem;
  //   }

  //   @media screen and (max-width: $breakpoint-small) {
  //     // 999px 이하
  //     left: 15%;
  //     margin: 20px 0;
  //     width: 18rem;
  //     height: 14rem;
  //   }
  // }

  .dust-info {
    position: relative;
    text-align: center;
    line-height: 2.5rem;
    font-size: 20px;
    font-weight: 700;
  }
  .dust-place {
    font-size: 16px;
    font-weight: 300;
  }
  .dust-grade {
    font-size: 36px;
    font-weight: 900;
  }
}
