// 날씨 위젯 스타일링
@import '../root.scss';

.weather-main {
  width: 25rem;
  height: 14rem;
  border-radius: 20px;
  position: relative;
  background-image: url('../../assets/weather-cloudy-70.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 30px;
  cursor: pointer;

  top: -20%; /* 부모 요소의 세로축 이동 */
  left: 80%; /* 부모 요소의 가로축 이동 */
  transform: translate(-80%, -225%);
  /* 위치 정렬 -> 이걸 지정하면 반응형 불가능 */

  .weather-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weather-place {
    font-size: 18px;
    font-weight: 600;
  }

  .temp-now {
    font-size: 52px;
    font-weight: 900;
  }
}
