// 날씨 위젯 스타일링

.weather-main {
  width: 400px;
  height: 200px;
  text-align: center;
  border-radius: 12px;
  position: relative;
  background-color: #fbfaf6;
  border: 1px solid #d9b487;
  border-radius: 12px;
  padding-top: 50px;
}
.temperature {
  font-size: 40px;
  font-weight: 700;
}
